.input {
    border: 1px solid gray;
    background: transparent;
    outline: none;
    transition: 0.6s;
    border-radius: 20px;
    padding: 2px;
    padding-left: 5px;
}

.input:hover {
    background-color: white;
    cursor: pointer;
}